* {
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    background-color: black;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}


/* ------------ */
/* Header Items */
/* ------------ */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background image behind header (layer) */
.background-img {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a8b65d83-54b0-4dd9-abaa-c392771d8df7/d3fkl60-3520e35d-78fa-421d-b7fa-e470af875448.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E4YjY1ZDgzLTU0YjAtNGRkOS1hYmFhLWMzOTI3NzFkOGRmN1wvZDNma2w2MC0zNTIwZTM1ZC03OGZhLTQyMWQtYjdmYS1lNDcwYWY4NzU0NDgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5GmWFKilY3btEiMWWc7clD4ydFXEC6QJj0YLJTNo2ow);
    background-size: 100vw 200px;
    background-repeat: no-repeat;
}

header h1 {
    position: relative;
    /* Positioning the text (layer) above gif and background image */
    z-index: 1;
    font-size: 80px;
    color: rgb(1, 63, 235);
    text-align: center;
    text-shadow: 2px 6px 3px rgb(255, 11, 247);
}

/* ------------- */
/* Flexbox Items */
/* ------------- */
#flexbox-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin-top: 50px;
}

/* Containing the image content */
.flex-item {
    width: 410px;
    height: 240px;
    margin: 60px;
    border: 15px solid rgb(27, 27, 27);
}

/* Styling image to cover the entire space of the flexbox */
.style-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Changing box-shadow for each flexbox (Alternating colors when the webpage is larger than 1076px) */
.fb-1 {
    position: relative;
    box-shadow: 0px 0px 5px 4px rgb(0, 164, 189);
}

.fb-2 {
    position: relative;
    box-shadow: 0px 0px 5px 4px rgb(255, 11, 247);
}

.fb-3 {
    position: relative;
    box-shadow: 0px 0px 5px 4px rgb(255, 11, 247);
}

.fb-4 {
    position: relative;
    box-shadow: 0px 0px 5px 4px rgb(0, 164, 189);
}

/* ----------------------------- */
/* Using the pseudo-class, hover */
/* ----------------------------- */
/* Styling the image so the opacity changes when user hovers over it */
.img-opacity {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

/* Using the pseudo-class 'hover' to show a clickable button that takes users to another link */
.flexbox-transition:hover .img-opacity {
    opacity: 0.5;
}

.flexbox-transition:hover .img-link {
    opacity: 1;
}

/* -------------------------- */
/* Links to separate webpages */
/* -------------------------- */
/* Creates smooth transition to show user box is hovered over */
.img-link {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* Styling the button of linked webpage (e.g. YouTube, Rotten Tomatoes) */
.div-name {
    background-color: rgb(1, 63, 235);
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 8px;
}

/* ---------------------- */
/* Styling webpage images */
/* ---------------------- */
#clapper-gif {
    height: 160px;
    position: absolute;
    top: 35px;
    right: 5px;
    z-index: 0;
}

/* Adding an image of a movie character to style up the webpage */
#spiderman-img {
    position: absolute;
    height: 200px;
    top: 100px;
    left: -10px;
}

/* Styling vision image below flexbox content */
#vision-div {
    margin-top: 20px;
    margin-bottom: 170px;
    display: block;
    text-align: center;
}

#vision-img {
    width: 350px;
}


/* -------------------------------- */
/* Buttons to API and local storage */
/* -------------------------------- */
/* Button that takes users to the html where a user can add movies to a personal watchlist or the movie database search bar */
.footer {
    position: fixed;
    min-width: 240px;
    min-height: 30px;
    margin: 0px;
    border: 2px solid rgb(139, 50, 255);
    box-shadow: 0px 0px 2px 2px rgb(139, 50, 255);
    border-radius: 10px;
    bottom: 4px;
    right: 20px;
    background-color: rgb(0, 35, 132);
}

/* Text inside of fixed div elements ('SEARCH MOVIES' & 'WATCHLIST') */
.fixed-text {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin: 15px;
}

/* ------------- */
/* Media Queries */
/* ------------- */
@media screen and (min-width: 1076px) {
    /* Changing the color of box-shadow so that when they wrap, the colors are alternating */
    .fb-3 {
        box-shadow: 0px 0px 5px 4px rgb(255, 11, 247);
    
    }.fb-4 {
        box-shadow: 0px 0px 5px 4px rgb(0, 164, 189);
    }
}

@media screen and (max-width: 1075px) {
    /* 1px gap when reducing the screen size */
    .fb-3 {
        box-shadow: 0px 0px 5px 4px rgb(0, 164, 189);
    
    }.fb-4 {
        box-shadow: 0px 0px 5px 4px rgb(255, 11, 247);
    }
}

/* Reducing font size so that gif does not move too far behind title */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 65px;
    }

    /* Resizing background image to prevent bottom of image from cutting off when the page reduces to a max-width of 576px */
    .background-img {
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a8b65d83-54b0-4dd9-abaa-c392771d8df7/d3fkl60-3520e35d-78fa-421d-b7fa-e470af875448.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E4YjY1ZDgzLTU0YjAtNGRkOS1hYmFhLWMzOTI3NzFkOGRmN1wvZDNma2w2MC0zNTIwZTM1ZC03OGZhLTQyMWQtYjdmYS1lNDcwYWY4NzU0NDgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5GmWFKilY3btEiMWWc7clD4ydFXEC6QJj0YLJTNo2ow);
        background-size: 100vw 155px;
        background-repeat: no-repeat;
    }

    #clapper-gif {
        height: 110px;
        position: absolute;
        top: 35px;
        right: 0px;
        z-index: 0;
    }
}

@media screen and (max-width: 576px) {
    header h1 {
        font-size: 50px;
    }

    .background-img {
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a8b65d83-54b0-4dd9-abaa-c392771d8df7/d3fkl60-3520e35d-78fa-421d-b7fa-e470af875448.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E4YjY1ZDgzLTU0YjAtNGRkOS1hYmFhLWMzOTI3NzFkOGRmN1wvZDNma2w2MC0zNTIwZTM1ZC03OGZhLTQyMWQtYjdmYS1lNDcwYWY4NzU0NDgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5GmWFKilY3btEiMWWc7clD4ydFXEC6QJj0YLJTNo2ow);
        background-size: 100vw 130px;
        background-repeat: no-repeat;
    }

    /* Repositioning gif to fit inside background image */
    #clapper-gif {
        height: 100px;
        position: absolute;
        top: 30px;
        right: 2px;
        z-index: 0;
    }

    #spiderman-img {
        position: absolute;
        height: 140px;
        top: 100px;
        left: -10px;
    }

    .footer {
        position: fixed;
        min-width: 150px;
        min-height: 25px;
        margin: 0px;
        border: 2px solid rgb(139, 50, 255);
        box-shadow: 0px 0px 2px 2px rgb(139, 50, 255);
        border-radius: 10px;
        bottom: 4px;
        right: 20px;
        background-color: rgb(0, 35, 132);
    }
    
    .watchlist-text {
        display: block;
        color: #fff;
        text-align: center;
        font-size: 25px;
        margin: 15px;
    }
}