* {
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
}

html {
    background-color: black;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background image behind header */
.background-img {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a8b65d83-54b0-4dd9-abaa-c392771d8df7/d3fkl60-3520e35d-78fa-421d-b7fa-e470af875448.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E4YjY1ZDgzLTU0YjAtNGRkOS1hYmFhLWMzOTI3NzFkOGRmN1wvZDNma2w2MC0zNTIwZTM1ZC03OGZhLTQyMWQtYjdmYS1lNDcwYWY4NzU0NDgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5GmWFKilY3btEiMWWc7clD4ydFXEC6QJj0YLJTNo2ow);
    background-size: 100vw 200px;
    background-repeat: no-repeat;
}

header h1 {
    font-size: 80px;
    color: rgb(1, 63, 235);
    text-align: center;
    text-shadow: 2px 6px 3px rgb(255, 11, 247);
    position: relative;
    /* Text is above gif and background image */
    z-index: 1;
}

/* ------------- */
/* Flexbox Items */
/* ------------- */
#flexbox-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin-top: 50px;
}

.flex-item {
    width: 410px;
    height: 240px;
    margin: 60px;
    border: 15px solid rgb(27, 27, 27);
}

/* Changing box-shadow for each flexbox (Alternating colors) */
.fb-1 {
    box-shadow: 0px 0px 5px 4px rgb(0, 164, 189);
}

.fb-2 {
    box-shadow: 0px 0px 5px 4px rgb(255, 11, 247);
}

.fb-3 {
    box-shadow: 0px 0px 5px 4px rgb(255, 11, 247);
}

.fb-4 {
    box-shadow: 0px 0px 5px 4px rgb(0, 164, 189);
}

/* Button where a user can add movies to a personal watchlist */
.footer {
    position: fixed;
    min-width: 300px;
    min-height: 40px;
    margin: 0px;
    border: 2px solid rgb(255, 11, 247);
    box-shadow: 0px 0px 2px 2px rgb(255, 11, 247);
    border-radius: 10px;
    bottom: 4px;
    right: 20px;
    background-color: rgb(0, 46, 53);
}

.watchlist-text {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin: 15px;
}

/* ---------- */
/* Styling image to fill the flexbox */
.style-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Styling the image so the opacity changes when user hovers over it */
.img-opacity {

}

/* Using the pseudo-class 'hover' to show a clickable button that takes users to another link */
.fb-1:hover .img-opacity {
    opacity: 0.5;
    transition: 0.5s ease;
}
.fb-1:hover .img-link {
    opacity: 1;
}
/* ---------- */

/* -------------------------- */
/* Links to separate webpages */
/* -------------------------- */

.img-link {
 
}

/* ---------------------- */
/* Styling webpage images */
/* ---------------------- */
#clapper-gif {
    height: 160px;
    position: absolute;
    top: 35px;
    right: 5px;
    z-index: 0;
}
/* Adding an image of a movie character to style up the webpage */
#spiderman-img {
    position: absolute;
    bottom: -230px;
    left: -20px;
    margin-bottom: 200px;
}

/* Styling center image */
#vision-div {
    margin-bottom: 200px;
    display: block;
    text-align: center;
}

#vision-img {
    width: 400px;
}

/* #center-img {
    display: flex;
    width: 100vw;
} */


/* ------------- */
/* Media Queries */
/* ------------- */
@media screen and (max-width: 1075px) {
    /* Changing the color of box-shadow so that when they flex, the colors are alternating */
    .fb-3 {
        box-shadow: 0px 0px 5px 4px rgb(0, 164, 189);
    
    }.fb-4 {
        box-shadow: 0px 0px 5px 4px rgb(255, 11, 247);
    }
}

/* Reducing font size so that gif does not move too far behind title */
@media screen and (max-width: 702px) {
    header h1 {
        font-size: 65px;
    }

    /* Resizing background image to prevent bottom of image from cutting off when the page reduces to a max-width of 576px */
    .background-img {
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a8b65d83-54b0-4dd9-abaa-c392771d8df7/d3fkl60-3520e35d-78fa-421d-b7fa-e470af875448.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E4YjY1ZDgzLTU0YjAtNGRkOS1hYmFhLWMzOTI3NzFkOGRmN1wvZDNma2w2MC0zNTIwZTM1ZC03OGZhLTQyMWQtYjdmYS1lNDcwYWY4NzU0NDgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5GmWFKilY3btEiMWWc7clD4ydFXEC6QJj0YLJTNo2ow);
        background-size: 100vw 155px;
        background-repeat: no-repeat;
    }

    #clapper-gif {
        height: 110px;
        position: absolute;
        top: 35px;
        right: 0px;
        z-index: 0;
    }
}

@media screen and (max-width: 576px) {
    header h1 {
        font-size: 50px;
    }

    .background-img {
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a8b65d83-54b0-4dd9-abaa-c392771d8df7/d3fkl60-3520e35d-78fa-421d-b7fa-e470af875448.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E4YjY1ZDgzLTU0YjAtNGRkOS1hYmFhLWMzOTI3NzFkOGRmN1wvZDNma2w2MC0zNTIwZTM1ZC03OGZhLTQyMWQtYjdmYS1lNDcwYWY4NzU0NDgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5GmWFKilY3btEiMWWc7clD4ydFXEC6QJj0YLJTNo2ow);
        background-size: 100vw 130px;
        background-repeat: no-repeat;
    }
    /* Repositioning gif to fit inside background image */
    #clapper-gif {
        height: 100px;
        position: absolute;
        top: 30px;
        right: 2px;
        z-index: 0;
    }
}